bin/
etc/
lib/
lib64
lib64/
include/
share/
*.prof
__pycache__
pip-selfcheck.json
*.pyc
*.pyo
*.swp
**/*.egg-info/
*.export
*.bak
*.env
docs/bin/
docs/build/
docs/lib/
docs/lib64
docs/lib64/
docs/include/
docs/share/
docs/apidoc/
.ipy*
.venv/
dist/
Untitled*.ipynb
/*swagger.json
